<div class="eqLogic-widget eqLogic allowResize" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
      <center><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a></strong></center><br />
    <div class="row">

	<div class="col-sm-12">
	<center>
	 <span class="aqi #aqi_history#" data-cmd_id="#aqi_id#" title="AQI (#aqi_collect#)"><i id="#aqi_id#" class="icon jeedom-alerte"></i>    <i class="fa fa-circle fa-lg" style="color : #aqicolor#; Cursor:default"></i> #aqi#</span>
   </center>
	</div>
	</div>

</div>
