<style>
	.air-general {
	  display: table-cell;
	  border-style: solid;
	  border-width: 1px;
	  border-color: #ffffff;
	  vertical-align: middle;
	  align: center;
	  border-radius:23px;
	  width:46px;
	  height:46px;
	  cursor:default;
	  font-size: 1.5em;
	  font-weight: bold;
	}
</style>

<div class="eqLogic-widget eqLogic allowResize" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
	<center class="widget-name"><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a></strong>
		<span class="pull-right cursor"><i id="yourvigilance#id#" class="fas fa-info-circle"></i></span>
</center><br />

<div class="verticalAlign">
		<center>
			<div style="display: table; overflow: hidden; position: relative; top: -10px;">
				<div data-cmd_id="#aqi_id#" title="Indice de qualit&eacute; g&eacute;n&eacute;ral (collect&eacute; le #aqi_collect#)" class="air-general" style="background-color:#aqicolor#;;color:#aqifont#"><center>#aqi#</center></div>
			</div>
			<div style="font-size: 0.8em; position: relative; top: -10px;">#aqilevel#</div>
			<div style="display: table; overflow: hidden; width: 95%">
				<div style="display: table-row;">
					<div style="display: table-cell; width: 25%;cursor:default;font-size: 1em;" class="cmd noRefresh" data-type="info" data-subtype="string" title="Dioxyde d&#145;azote">
						<center><strong>NO</strong><sub style="font-size: 0.6em;">2</sub></center>
						<center class="cmd noRefresh" data-type="info" data-subtype="string" style="font-size: 0.9em;">#no2#</center>
					</div>
					<div style="display: table-cell; width: 25%;cursor:default;font-size: 1em;" class="cmd noRefresh" data-type="info" data-subtype="string" title="Ozone">
						<center><strong>O</strong><sub style="font-size: 0.6em;">3</sub></center>
						<center class="cmd noRefresh" data-type="info" data-subtype="string" style="font-size: 0.9em;">#o3#</center>
					</div>
					<div style="display: table-cell; width: 25%;cursor:default;font-size: 1em;" class="cmd noRefresh" data-type="info" data-subtype="string" title="Particules fines &lt; 2,5&micro;m (particules de combustion...)">
						<center><strong>PM</strong><sub style="font-size: 0.6em;">2,5</sub></center>
			    			<center class="cmd noRefresh" data-type="info" data-subtype="string" style="font-size: 0.9em;">#pm25#</center>
					</div>
					<div style="display: table-cell; width: 25%;cursor:default;font-size: 1em;" class="cmd noRefresh" data-type="info" data-subtype="string" title="Particules fines &lt; 10&micro;m (poussi&egrave;re, pollen...)">
						<center><strong>PM</strong><sub style="font-size: 0.6em;">10</sub></center>
						<center class="cmd noRefresh" data-type="info" data-subtype="string" style="font-size: 0.9em;">#pm10#</center>
					</div>
				</div>
			</div>
		</center>
	</div>
<script>
$('#yourvigilance#id#').on('click', function() {
			$('#md_modal2').dialog({
				title: "AQI"
			});

			$('#md_modal2').load('index.php?v=d&plugin=vigilancemeteo&modal=vigilancemeteo&id=#id#').dialog('open');
		});
</script>
</div>
