<div class="eqLogic-widget eqLogic allowResize" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
      <center><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a></strong></center><br />
    <div class="row">

	<div class="col-sm-12">
	<center>
	 <span class="aqi #aqi_history#" data-cmd_id="#aqi_id#" title="AQI (#aqi_collect#)"><i id="#aqi_id#" class="icon jeedom-alerte"></i>    <i class="fa fa-circle fa-lg" style="color : #aqicolor#; Cursor:default"></i> #aqi#</span>
   </center>
	</div>
</div>
<div class="row">
    <div class="col-sm-12">
    <center>
        <div style="display: inline-block;font-size: 0.8em;margin-right : 4px;" class="cmd noRefresh" data-type="info" data-subtype="string">
    <center>PM2.5</center>
    <center  class="cmd noRefresh" data-type="info" data-subtype="string">#pm25#</center>
</div>
<div style="display: inline-block;font-size: 0.8em;margin-right : 4px;" class="cmd noRefresh" data-type="info" data-subtype="string">
<center>PM10</center>
<center  class="cmd noRefresh" data-type="info" data-subtype="string">#pm10#</center>
</div>
<div style="display: inline-block;font-size: 0.8em;margin-right : 4px;" class="cmd noRefresh" data-type="info" data-subtype="string">
<center>O3</center>
<center  class="cmd noRefresh" data-type="info" data-subtype="string">#o3#</center>
</div>
<div style="display: inline-block;font-size: 0.8em;margin-right : 4px;" class="cmd noRefresh" data-type="info" data-subtype="string">
<center>NO2</center>
<center  class="cmd noRefresh" data-type="info" data-subtype="string">#no2#</center>
</div>

    </center>
    </div>
	</div>

</div>
