<link rel="stylesheet" href="plugins/vigilancemeteo/desktop/weather-icons/css/weather-icons.css">

<div class="eqLogic-widget eqLogic allowResize" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
	<center class="widget-name"><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a>
		<span class= class="cmd refresh pull-right cursor" style="margin-right: 30px"><i id="yourvigilance#id#" class="fas fa-info-circle"></i></span>
</center><br />

    <div class="row">
	<div class="col-sm-12">
	<center>
	   <i class="wi wi-flood" style="font-size : 1.3em;"></i> <span class="crue #crue_history#" data-cmd_id="#crue_id#" title="Hauteur mesurée le #dateniveau# (#crue_collect#)">H=#crue#m</span>
#debit#
		</center>
	</div>
	</div>
<script>
$('#yourvigilance#id#').on('click', function() {
			$('#md_modal2').dialog({
				title: "Vigicrue"
			});

			$('#md_modal2').load('index.php?v=d&plugin=vigilancemeteo&modal=vigilancemeteo&id=#id#').dialog('open');
		});
</script>
</div>
