<div class="eqLogic-widget eqLogic allowResize" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
	<center class="widget-name"><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a>
<span class="cmd refresh pull-right cursor" data-cmd_id="#refresh#"><i class="fas fa-sync"></i></span> &nbsp; <span class="pull-right cursor"><a target="_blank" href="https://www.vigicrues.gouv.fr/station/#station#" title="Plus d'info"><i class='fas fa-info-circle' style="margin-top: 3px;"></i></a></span>
	</center><br />

    <div class="row">
	<div class="col-sm-12">
	<center>
	   <i class="wi wi-flood" style="font-size : 1.3em;"></i> <span class="crue #crue_history#" data-cmd_id="#crue_id#" title="Hauteur mesurée le #dateniveau# (#crue_collect#)">H=#crue# m</span>
#debit#
		</center>
	</div>
	</div>
	<link rel="stylesheet" href="plugins/vigilancemeteo/desktop/weather-icons/css/weather-icons.css">

<script>
		if ('#refresh#' != ''){
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
				jeedom.cmd.execute({id: '#refresh#'});
			});
		}else{
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
		}
</script>
</div>
