<div class="eqLogic-widget eqLogic allowResize" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard" >
      <center><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a></strong></center><br />
    <div class="row">

	<div class="col-sm-12">
	<center>
	 <span class="crue #crue_history#" data-cmd_id="#crue_id#" title="Crue (#crue_collect#)">#crue#</span>
   </center>
	</div>
	</div>
</div>
