<div class="eqLogic eqLogic-widget allowResize #custom_layout# #eqLogic_class# #class#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width: #width#;height: #height#;#style#">
  <center class="widget-name">
    <span class="warning" title="#alert_name#">
      <i class='#alert_icon#'></i>
    </span>
    <span class="cmd pull-right cursor">
      <a target="_blank" href="#url_src#" title="Plus d'info"><i class='fas fa-info-circle' style="margin-top: 3px;"></i></a>
    </span>&nbsp;
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
      <i class="fas fa-sync"></i>
    </span>
    <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
    <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
  </center>
  <div class="row">
    <center>
      <span style="display: #basse_display#" class="basse #basse_history#" data-cmd_id="#basse_id#" title="Basse Mer (#basse_collect#)"><i class="wi wi-direction-down" style="font-size : 2em;"></i>  #basse#</span>
      <span style="margin-left: 30px; display: #pleine_display#" class="pleine #pleine_history#" data-cmd_id="#pleine_id#" title="Pleine Mer (#pleine_collect#)"><i class="wi wi-direction-up" style="font-size : 2em;"></i>  #pleine#</span>
    </center>
  </div>
    <div class="row">
      <center>
        <span class="risque #risque_history#" data-cmd_id="#risque_id#" title="Coefficient de Marée" style="text-decoration: none; cursor:default;font-size : 1.2em; display: #maree_display#">#maree#</span>
      </center>
    </div>
    <div class="row">
      <center>Port: <strong>#harborName#</strong></center>
    </div>
    <div class="row">
      <center>
        <span style="display: #prevTide_display#" class="prevTide #prevTide_history#" data-cmd_id="#prevTide_id#" title="Marée précédente (#prevTide_collect#)">#prevTide#</span>
        <span style="margin-left: 10px; display: #nextTide_display#" class="nextTide #nextTide_history#" data-cmd_id="#nextTide_id#" title="Marée suivante"> #nextTide#</span>
      </center>
    </div>
  <div class="row" style="margin-left: 5px; margin-right: 5px">
     <span class="tidesTableCmd #tidesTable_history#" data-cmd_id="#tidesTable_id#" style="text-decoration: none; cursor:default; display: #tidesTable_display#">#tidesTable#</span>
  </div>
  <link rel="stylesheet" href="plugins/vigilancemeteo/desktop/weather-icons/css/weather-icons.css">
  <style>
    .tidesTableFactor {
      display: table-cell;
      border-style: solid;
      border-width: 0px;
      vertical-align: middle;
      align: center;
      border-radius: 12px;
      width: 24px;
      height: 24px;
      cursor: default;
      font-size: 0.8em;
    }
    .tideGeneral {
      display: table-cell;
      border-style: solid;
      border-width: 0px;
      vertical-align: middle;
      align: center;
      border-radius: 23px;
      width: 46px;
      height: 46px;
      cursor: default;
      font-size: 1.5em;
      font-weight: bold;
    }
    .tidesTableCmd {
      display: inline-block;
      overflow-y:scroll;
      border:#000000 1px solid;
      width: 100%;
      min-height:15px;
      max-height: 240px;
      word-wrap: break-word;
      scrollbar-width: thin;
      text-align: left
    }
  </style>
  <script>
    if ('#refresh_id#' != ''){
      $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
        jeedom.cmd.execute({id: '#refresh_id#'});
      });
    }else{
      $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
    }
  </script>
</div>
