<link rel="stylesheet" href="plugins/vigilancemeteo/desktop/weather-icons/css/weather-icons.css">

<div class="eqLogic-widget eqLogic allowResize" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
      <center><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a></strong></center><br />
    <div class="row">

	<div class="col-sm-12">
	<center>
	 <i class="wi wi-raindrop"></i> <span class="tempWater #tempWater_history#" data-cmd_id="#tempWater_id#" title="tempWater (#tempWater_collect#)">#tempWater# °C</span></br>
   <i class="wi wi-thermometer-exterior"></i> <span class="tempAir #tempAir_history#" data-cmd_id="#tempAir_id#" title="tempAir (#tempAir_collect#)">#tempAir# °C</span></br>
   <i class="wi wi-barometer"></i> <span class="UVI #UVI_history#" data-cmd_id="#UVI_id#" title="UVI (#UVI_collect#)">#UVI# UVI</span>
   <span class="condition" data-cmd_id="#condition_id#" title="condition (#condition_collect#)">#condition#, #seaState#</span>
   </center>
	</div>
	</div>
</div>
