<style>
	#slider#id# {
	  position: relative;
	  overflow: hidden;
	  margin: 20px auto 0 auto;
	  border-radius: 4px;
	}

	#slider#id# ul {
	  position: relative;
	  margin: 0;
	  padding: 0;
	  list-style: none;
	}

	#slider#id# ul li {
	  position: relative;
	  display: block;
	  float: left;
	  margin: 0;
	  padding: 0;
	  text-align: center;
	}

	a.control_prev#id#, a.control_next#id# {
	  position: absolute;
	  top: 40%;
	  z-index: 999;
	  display: block;
	  padding: 4% 3%;
	  width: auto;
	  height: auto;
	  text-decoration: none;
	  font-weight: 300;
	  font-size: 18px;
	  opacity: 0.8;
	  cursor: pointer;
	}

	a.control_prev#id#:hover, a.control_next#id#:hover {
	  opacity: 1;
	  -webkit-transition: all 0.2s ease;
	}

	a.control_prev#id# {
	  border-radius: 0 2px 2px 0;
	}

	a.control_next#id# {
	  right: 0;
	  border-radius: 2px 0 0 2px;
	}

	.slider_option#id# {
	  position: relative;
	  margin: 10px auto;
	  font-size: 18px;
	}
</style>

<div class="eqLogic-widget eqLogic allowResize" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
	<center class="widget-name"><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a></center><br />

		<center>
			<div style="display: table; overflow: hidden; position: relative; top: -19px;">
				<div data-cmd_id="#general_id#" title="Indice général (collecté le #general_collect#)" class="pollen_general#id#" style="background-color:#general_color#;color:#general_font#;"><center>#general#</center></div>
			</div>


			<div id="slider#id#">
				<a href="#" class="control_next#id#">></a>
	  		<a href="#" class="control_prev#id#"><</a>

				<ul>
				  <li>
						<div class="pollen_quote-phrase#id#">
						  #slide1#
						</div>
				  </li>
				  <li>
						<div class="pollen_quote-phrase#id#">
						  #slide2#
						</div>
				  </li>
				  <li>
						<div class="pollen_quote-phrase#id#">
                          #slide3#
                         </div>
				  </li>
				  <li>
						<div class="pollen_quote-phrase#id#">
                          #slide4#
                        </div>
				  </li>
				  <li>
						<div class="pollen_quote-phrase#id#">
                          #slide5#
                        </div>
				  </li>
				</ul>

			<div class="pollen_btn-bar#id#">
				<div id="pollen_buttons#id#" class="pollen_button_R#id#"><a class="pollen_next#id#" href="#">></a> </div>
			</div>

			</div>

		</center>

</div>



<script>
jQuery(document).ready(function ($) {

	var slideCount = $('#slider#id# ul li').length;
	var slideWidth = $('#slider#id# ul li').width();
	var slideHeight = $('#slider#id# ul li').height();
	var sliderUlWidth = slideCount * slideWidth;

	$('#slider#id#').css({ width: slideWidth, height: slideHeight });

	$('#slider#id# ul').css({ width: sliderUlWidth, marginLeft: - slideWidth });

    $('#slider#id# ul li:last-child').prependTo('#slider#id# ul');

    function moveLeft() {
        $('#slider#id# ul').animate({
            left: + slideWidth
        }, 200, function () {
            $('#slider#id# ul li:last-child').prependTo('#slider#id# ul');
            $('#slider#id# ul').css('left', '');
        });
    };

    function moveRight() {
        $('#slider#id# ul').animate({
            left: - slideWidth
        }, 200, function () {
            $('#slider#id# ul li:first-child').appendTo('#slider#id# ul');
            $('#slider#id# ul').css('left', '');
        });
    };

    $('a.control_prev#id#').click(function () {
        moveLeft();
    });

    $('a.control_next#id#').click(function () {
        moveRight();
    });

});
</script>
