<div class="eqLogic-widget eqLogic allowResize" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard" >
    <center><a href="#eqLink#" style="font-size : 1.2em;#hideEqLogicName#">#name_display#  <span style="font-size: 0.85em;position: relative;top:-2px;">#object_name#</span></a></center>
	<div class="tooltips" style="width: 100%;font-size:12px;position:relative;margin-left:5px;margin-right:5px;margin-bottom:7px;">
		<div style="width: 100%;text-align:center;position:relative;margin-left:5px;margin-right:5px;margin-bottom:5px;">
				<table style="border-collapse: collapse;border: 0px; width: 90%;">
					<tr>
						<td style="height:20px;border: 0px;  text-align: left" colspan="4"><b>#lastUpdate#</b></td>
						<td style="height:20px;border: 0px;  text-align: center" colspan="4">+30min</td>
						<td style="height:20px;border: 0px;  text-align: right" colspan="4">+1h</td>
					</tr>
					<tr>
						<td style="width: 7%;border: 0px; border-collapse: collapse; height:20px; background: #prev0Color#" title="#prev0Text#" class="tooltips"></td>
						<td style="width: 7%;border: 0px; border-collapse: collapse; height:20px; background: #prev5Color#" title="#prev5Text#" class="tooltips"></td>
						<td style="width: 7%;border: 0px; border-collapse: collapse; height:20px; background: #prev10Color#" title="#prev10Text#" class="tooltips"></td>
						<td style="width: 7%;border: 0px; border-collapse: collapse; height:20px; background: #prev15Color#" title="#prev15Text#" class="tooltips"></td>
						<td style="width: 7%;border: 0px; border-collapse: collapse; height:20px; background: #prev20Color#" title="#prev20Text#" class="tooltips"></td>
						<td style="width: 7%;border: 0px; border-collapse: collapse; height:20px; background: #prev25Color#" title="#prev25Text#" class="tooltips"></td>
						<td style="width: 7%;border: 0px; border-collapse: collapse; height:20px; background: #prev30Color#" title="#prev30Text#" class="tooltips"></td>
						<td style="width: 7%;border: 0px; border-collapse: collapse; height:20px; background: #prev35Color#" title="#prev35Text#" class="tooltips"></td>
						<td style="width: 7%;border: 0px; border-collapse: collapse; height:20px; background: #prev40Color#" title="#prev40Text#" class="tooltips"></td>
						<td style="width: 7%;border: 0px; border-collapse: collapse; height:20px; background: #prev45Color#" title="#prev45Text#" class="tooltips"></td>
						<td style="width: 7%;border: 0px; border-collapse: collapse; height:20px; background: #prev50Color#" title="#prev50Text#" class="tooltips"></td>
						<td style="width: 7%;border: 0px; border-collapse: collapse; height:20px; background: #prev55Color#" title="#prev55Text#" class="tooltips"></td>
					</tr>
				</table>
		</div>
	</div>
	<div title="Prévisions textuelles" class="tooltips" style="font-size:12px;position:relative;margin-left:5px;margin-right:5px;margin-bottom:7px;display: #prevTexte_display#;">
		<div style="text-align:left; font-size:12px;">#prevTexte#</div>
	</div>
</div>
