<link rel="stylesheet" href="plugins/vigilancemeteo/desktop/weather-icons/css/weather-icons.css">

<div class="eqLogic-widget eqLogic allowResize" style="height: 160px;width: 240px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
	<center class="widget-name"><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a></strong></center><br />

    <div class="row">

	<div class="col-sm-12">
	<center>
	 <i class="wi wi-earthquake"></i>  <span class="seisme #seisme_history#" data-cmd_id="#seisme_id#" title="Crue (#seisme_collect#)">#seisme#</span>
   </center>
	</div>
	</div>
</div>
