<div class="eqLogic-widget eqLogic allowResize" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
	<center class="widget-name"><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a></strong></center><br />

    <div class="row">

	<div class="col-sm-12">
	<center>
		<span class="Periode #primaryPeriod_history#" data-cmd_id="#primaryPeriod_id#" title="Periode (#primaryPeriod_collect#)"><img src="plugins/vigilancemeteo/doc/images/frequence.png" height="30" width="30" />  #primaryPeriod#</span>
		<span class="minimum #minimum_history#" data-cmd_id="#minimum_id#" title="Hauteur Minimum (#minimum_collect#)"><img src="plugins/vigilancemeteo/doc/images/maree2-basse.png" height="30" width="30" />  #minimum#</span>
		<span class="minimum #primaryHeight_history#" data-cmd_id="#primaryHeight_id#" title="Hauteur Primaire (#primaryHeight_collect#)"><img src="plugins/vigilancemeteo/doc/images/maree2-moyenne.png" height="30" width="30" />  #primaryHeight#</span>
		
		<span class="maximum #maximum_history#" data-cmd_id="#maximum_id#" title="Hauteur Maximum (#maximum_collect#)"><img src="plugins/vigilancemeteo/doc/images/maree2-haute.png" height="30" width="30" />  #maximum#</span>
   </center>
	</div>
	</div>
</div>
