<link rel="stylesheet" href="plugins/vigilancemeteo/desktop/weather-icons/css/weather-icons.css">

<div class="eqLogic-widget eqLogic allowResize" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
	<center class="widget-name"><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a></strong></center><br />

    <div class="row">

	<div class="col-sm-12">
	<center>
	 <i class="wi wi-day-sunny"></i> <span class="uvi #uvi_history#" data-cmd_id="#uvi_id#" title="Indice UV (#uvi_collect#)">#uvi# (max : #uvimax#)</span>
   </center>
	</div>
	</div>
</div>
<script>
$('#yourvigilance#id#').on('click', function() {
			$('#md_modal2').dialog({
				title: "Index UV"
			});

			$('#md_modal2').load('index.php?v=d&plugin=vigilancemeteo&modal=vigilancemeteo&id='+ #id#).dialog('open');
		});
</script>
