<div class="eqLogic-widget eqLogic allowResize" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
	<center class="widget-name"><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a></strong>

		<span class="pull-right cursor"><i id="yourvigilance#id#" class="fas fa-info-circle"></i></span>
	</center><br />

    <div class="row">

	<div class="col-sm-12">
	<center>
	 <span class="vigilance #vigilance_history#" data-cmd_id="#vigilance_id#" title="Vigilance (#vigilance_collect#)"><i id="#vigilance_id#" class="icon jeedom-alerte"></i>    <i class="fas fa-circle fa-lg" style="color : #vigilance#; Cursor:default"></i></span>
	<span style="margin-left: 30px;" class="crue #crue_history#" data-cmd_id="#crue_id#"><span title="Risque crue (#crue_collect#)"><i id="#crue_id#" class="icon jeedom-eau"></i>    <i class="fas fa-circle fa-lg" style="color : #crue#; Cursor:default"></i></span>
   </center>
	</div>
	</div>
	<center>
       <span class="risque #risque_history#" data-cmd_id="#risque_id#" title="Risque en cours (#risque_collect#)" style="text-decoration: none; cursor:default;font-size : 1.3em;">#risque#</span>
    </center>
<script>
$('#yourvigilance#id#').on('click', function() {
			$('#md_modal2').dialog({
				title: "Votre Vigilance"
			});

			$('#md_modal2').load('index.php?v=d&plugin=vigilancemeteo&modal=vigilancemeteo&id='+ #id#).dialog('open');
		});
</script>
</div>
