<div class="eqLogic-widget eqLogic" style="width: 240px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#; padding : 0px;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="mobile" >
  <center> #name_display# </center>


	<div class="col-sm-12">
	<center>
	 <span class="aqi #aqi_history#" data-cmd_id="#aqi_id#" title="Vigilance (#aqi_collect#)"><i id="#aqi_id#" class="icon jeedom-alerte"></i>   <i class="fa fa-circle fa-lg" style="color : #aqicolor#; Cursor:default"></i> #aqi#</span>
   </center>
	</div>
</div>
