<div class="eqLogic-widget eqLogic" style="width: 240px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#; padding : 0px;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="mobile" >
  <center> #name_display# </center>
  <div class="col-sm-12">
	<center>
	 <span class="crue #crue_history#" data-cmd_id="#crue_id#" title="crue Mer (#cruee_collect#)"><i id="#cruee_id#" class="fa fa-angle-down"></i>  #crue#</span>
   </center>
	</div>
</div>
