<div class="eqLogic-widget eqLogic" style="width: 240px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#; padding : 0px;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="mobile" >
  <center> #name_display# </center>


  <div class="col-sm-12">
	<center>
	 <span class="basse #basse_history#" data-cmd_id="#basse_id#" title="Basse Mer (#bassee_collect#)"><i id="#bassee_id#" class="fa fa-angle-down"></i>  #basse#</span>
	<span style="margin-left: 30px;" class="pleine #pleine_history#" data-cmd_id="#pleine_id#"><span title="Pleine Mer (#pleine_collect#)"><i id="#pleine_id#" class="fa fa-angle-up"></i>  #pleine#</span>
   </center>
	</div>
	<center>
       <span class="risque #risque_history#" data-cmd_id="#maree_id#" title="Indice de Marée" style="text-decoration: none; cursor:default;font-size : 1.3em;"><i id="#maree_id#" class="fa fa-info-circle cursor"></i>  #maree#</span>
    </center>
</div>
