<div class="eqLogic-widget eqLogic allowResize" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
		<center class="widget-name"><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a>
<span class="pull-right cursor"><i id="yourvigilance#id#" class="fas fa-info-circle" style="color: var(--eqTitle-color) !important;"></i></span> &nbsp; <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh#"><i class="fas fa-sync"></i></span>
	</center><br />


  <div class="col-sm-12">
	<center>
	 <span class="basse #basse_history#" data-cmd_id="#basse_id#" title="Basse Mer (#bassee_collect#)"><i id="#bassee_id#" class="fas fas-angle-down"></i>  #basse#</span>
	<span style="margin-left: 30px;" class="pleine #pleine_history#" data-cmd_id="#pleine_id#"><span title="Pleine Mer (#pleine_collect#)"><i id="#pleine_id#" class="fas fas-angle-up"></i>  #pleine#</span>
   </center>
	</div>
	<center>
       <span class="risque #risque_history#" data-cmd_id="#maree_id#" title="Indice de Marée" style="text-decoration: none; cursor:default;font-size : 1.3em;"><i id="#maree_id#" class="fas fas-info-circle cursor"></i>  #maree#</span>
    </center>
	  <script>
	if ('#refresh#' != ''){
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
				jeedom.cmd.execute({id: '#refresh#'});
			});
		}else{
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
		}
	</script>
</div>
