<div class="eqLogic-widget eqLogic allowResize" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
	<center class="widget-name"><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a>
</span> &nbsp; <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh#"><i class="fas fa-sync"></i></span>
	</center><br />
<div class="verticalAlign">
	<center>
		<div style="display: table; overflow: hidden; position: relative; top: -10px;">
				<div data-cmd_id="#general_id#" title="Indice général (collect&eacute; le #general_collect#)" class="pollen-general" style="background-color:#general_color#;color:#general_font#;"><center>#general#</center></div>
			</div>
		<div>
      #slide#
      </div>

  </center>
</div>    
	
	<style>
.pollen-general {
	  display: table-cell;
	  border-style: solid;
	  border-width: 1px;
	  border-color: #ffffff;
	  vertical-align: middle;
	  align: center;
	  border-radius:23px;
	  width:46px;
	  height:46px;
	  cursor:default;
	  font-size: 1.5em;
	  font-weight: bold;
	} 
</style>
  <script>
	if ('#refresh#' != ''){
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
				jeedom.cmd.execute({id: '#refresh#'});
			});
		}else{
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
		}
	</script>
</div>
