<style>
	#pollen_carousel {
	  position: relative;
	  width: 200px;
	  margin: 0 auto;
	  display: table-cell;
	  top: -9px;
	}

	#pollen_slides {
	  overflow: hidden;
	  position: relative;
	  width: 200px;
	  height: 84px;
	}

	#pollen_slides ul {
	  list-style: none;
	  width: 200px;
	  height: 84px;
	  margin: 0;
	  padding: 0;
	  position: relative;
	}

	#pollen_slides li {
	  width: 200px;
	  height: 84px;
	  float: left;
	  text-align: center;
	  position: relative;
	}

	.pollen_btn-bar {
	  width: 25px;
	  margin: 0 auto;
	  position: relative;
	  display: table-cell;
	  vertical-align: middle;
	  top: -9px;
	}

	#pollen_buttons {
	  padding: 0 14px 0 8px;
	}

	#pollen_buttons a {
	  text-align: center;
	  font-size: 25px;
	  float: left;
	  outline: 0;
	  text-decoration: none;
	  width: 50px;
	  background-color: Gray;
	}

	a#pollen_prev:hover,
	a#pollen_next:hover {
	  color: #b14943;
	}

	.pollen_quote-phrase {
	  text-align: left;
	  width: 120px;
	  display: table-cell;
	  height: 84px;
	  font-size: 12px;
	  color: #FFF;
	  text-shadow: .5px 0px #b14943;
	}

	.pollen_quoteContainer {
	  display: table;
	  width: 100%;
	}

	.pollen_pollen {
	  padding: 1px 0 1px;
	}

	.pollen_label {
	  display: table-cell;
	  width: 87px;
	  height: 19px;
	}

	.pollen_value {
	  display: table-cell;
	  width: 15px;
	  text-align: center;
	}

	.pollen_graph {
	  display: table-cell;
	  height: 19px;
	}

	.pollen_general {
	  display: table-cell;
	  vertical-align: middle;
	  align: center;
	  border-radius:3px;
	  width:35px;
	  height:25px;
	  cursor:default;
	  font-size: 1.2em;
	  font-weight: bold;
	}
</style>

<div class="eqLogic-widget eqLogic" style="min-height: 160px;min-width: 180px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
	<center class="widget-name">#name_display#</center><br />

		<center>
			<div style="display: table; overflow: hidden; position: relative; top: -15px;">
				<div data-cmd_id="#general_id#" title="Indice général (collecté le #general_collect#)" class="pollen_general" style="background-color:#general_color#;color:#general_font#;"><center>#general#</center></div>
			</div>

			<div id="jquery-script-menu">
				<div class="jquery-script-center">
					<div class="jquery-script-clear"></div>
				</div>
			</div>

			<div class="pollen_btn-bar">
				<div id="pollen_buttons"><a id="pollen_prev" href="#"><</a></br></br><a id="pollen_next" href="#">></a> </div>
			</div>

			<div id="pollen_carousel">

			  <div id="pollen_slides">
				<ul>
				  <li class="pollen_slide">
					<div class="pollen_quoteContainer">
						<div class="pollen_quote-phrase">
						  #slide1#
						</div>
					</div>
				  </li>
				  <li class="pollen_slide">
					<div class="pollen_quoteContainer">
						<div class="pollen_quote-phrase">
						  #slide2#
                        </div>
					</div>
				  </li>
				  <li class="pollen_slide">
					<div class="pollen_quoteContainer">
						<div class="pollen_quote-phrase">
						  #slide3#
                        </div>
					</div>
				  </li>
				  <li class="pollen_slide">
					<div class="pollen_quoteContainer">
						<div class="pollen_quote-phrase">
						  #slide4#
                        </div>
					</div>
				  </li>
				  <li class="pollen_slide">
					<div class="pollen_quoteContainer">
						<div class="pollen_quote-phrase">
						  #slide5#
                        </div>
					</div>
				  </li>
				</ul>
			  </div>

			</div>

		</center>

</div>



<script>
$(document).ready(function () {
    //rotation speed and timer
    var speed = 4000;

    var run = setInterval(rotate, speed);
    var slides = $('.pollen_slide');
    var container = $('#pollen_slides ul');
    var elm = container.find(':first-child').prop("tagName");
    var item_width = container.width();
    var previous = 'pollen_prev'; //id of previous button
    var next = 'pollen_next'; //id of next button
    slides.width(item_width); //set the slides to the correct pixel width
    container.parent().width(item_width);
    container.width(slides.length * item_width); //set the slides container to the correct total width
    container.find(elm + ':first').before(container.find(elm + ':last'));
    resetSlides();
    clearInterval(run);


    //if user clicked on prev button

    $('#pollen_buttons a').click(function (e) {
        //slide the item

        if (container.is(':animated')) {
            return false;
        }
        if (e.target.id == previous) {
            container.stop().animate({
                'left': 0
            }, 1500, function () {
                container.find(elm + ':first').before(container.find(elm + ':last'));
                resetSlides();
            });
        }

        if (e.target.id == next) {
            container.stop().animate({
                'left': item_width * -2
            }, 1500, function () {
                container.find(elm + ':last').after(container.find(elm + ':first'));
                resetSlides();
            });
        }

        //cancel the link behavior
        return false;

    });

    //if mouse hover, pause the auto rotation, otherwise rotate it
    //container.parent().mouseenter(function () {
    //    clearInterval(run);
    //}).mouseleave(function () {
    //    run = setInterval(rotate, speed);
    //});


    function resetSlides() {
        //and adjust the container so current is in the frame
        container.css({
            'left': -1 * item_width
        });
    }

});
//a simple function to click next link
//a timer will call this function, and the rotation will begin

function rotate() {
    $('#pollen_next').click();
}
</script>
