<div class="eqLogic-widget eqLogic allowResize" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
		<center class="widget-name"><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a>
<span class="cmd refresh pull-right cursor" data-cmd_id="#refresh#"><i class="fas fa-sync"></i></span>
	</center><br />
	<div class="tooltips" style="padding:0px 5px 5px 5px;">
		<table style="border-collapse: collapse;border: 0px; width: 100%;">
			<tr>
				<td class="cmd" style="height:20px;border: 0px; text-align: left" colspan="4"><b>#heure#</b></td>
				<td class="cmd" style="height:20px;border: 0px; text-align: center" colspan="4">#h30#</td>
				<td class="cmd" style="height:20px;border: 0px; text-align: right" colspan="4">#h1h#</td>
			</tr>
			<tr>
				<td style="width: 7%;border: 0px; border-collapse: collapse; height:20px; #prev0Color#" title="#prev0Text#" class="tooltips"></td>
				<td style="width: 7%;border: 0px; border-collapse: collapse; height:20px; #prev5Color#" title="#prev5Text#" class="tooltips"></td>
				<td style="width: 7%;border: 0px; border-collapse: collapse; height:20px; #prev10Color#" title="#prev10Text#" class="tooltips"></td>
				<td style="width: 7%;border: 0px; border-collapse: collapse; height:20px; #prev15Color#" title="#prev15Text#" class="tooltips"></td>
				<td style="width: 7%;border: 0px; border-collapse: collapse; height:20px; #prev20Color#" title="#prev20Text#" class="tooltips"></td>
				<td style="width: 7%;border: 0px; border-collapse: collapse; height:20px; #prev25Color#" title="#prev25Text#" class="tooltips"></td>
				<td style="width: 7%;border: 0px; border-collapse: collapse; height:20px; #prev30Color#" title="#prev30Text#" class="tooltips"></td>
				<td style="width: 7%;border: 0px; border-collapse: collapse; height:20px; #prev35Color#" title="#prev35Text#" class="tooltips"></td>
				<td style="width: 7%;border: 0px; border-collapse: collapse; height:20px; #prev40Color#" title="#prev40Text#" class="tooltips"></td>
				<td style="width: 7%;border: 0px; border-collapse: collapse; height:20px; #prev45Color#" title="#prev45Text#" class="tooltips"></td>
				<td style="width: 7%;border: 0px; border-collapse: collapse; height:20px; #prev50Color#" title="#prev50Text#" class="tooltips"></td>
				<td style="width: 7%;border: 0px; border-collapse: collapse; height:20px; #prev55Color#" title="#prev55Text#" class="tooltips"></td>
			</tr>
		</table>
		<div title="Prévisions textuelles" class="cmd tooltips" style="position:relative;display: #prevTexte_display#;">
			<div>#prevTexte#</div>
		</div>
	</div>
	<script>
	
		if ('#refresh#' != ''){
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
				jeedom.cmd.execute({id: '#refresh#'});
			});
		}else{
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
		}
</script>
</div>
