<div class="eqLogic-widget eqLogic" style="width: 240px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#; padding : 0px;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="mobile" >
  <center> #name_display# </center>


  <div class="col-sm-12">
	<center>
	 <span class="minimum #minimum_history#" data-cmd_id="#minimum_id#" title="Hauteur Minimum (#minimume_collect#)"><i id="#minimume_id#" class="fa fa-angle-down"></i>  #minimum#</span>
	<span style="margin-left: 30px;" class="maximum #maximum_history#" data-cmd_id="#maximum_id#"><span title="Hauteur Maximum (#maximum_collect#)"><i id="#maximum_id#" class="fa fa-angle-up"></i>  #maximum#</span>
   </center>
	</div>
</div>
