<div class="eqLogic-widget eqLogic allowResize" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
		<center class="widget-name"><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a>
<span class="cmd refresh pull-right cursor" data-cmd_id="#refresh#"><i class="fas fa-sync"></i></span>
	</center><br />


  <div class="col-sm-12">
	<center>
	 <span class="minimum #minimum_history#" data-cmd_id="#minimum_id#" title="Hauteur Minimum (#minimume_collect#)"><i id="#minimume_id#" class="fas fa-angle-down"></i>  #minimum#</span>
	<span style="margin-left: 30px;" class="maximum #maximum_history#" data-cmd_id="#maximum_id#"><span title="Hauteur Maximum (#maximum_collect#)"><i id="#maximum_id#" class="fas fa-angle-up"></i>  #maximum#</span>
   </center>
	</div>
	  <script>
	
		if ('#refresh#' != ''){
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
				jeedom.cmd.execute({id: '#refresh#'});
			});
		}else{
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
		}
</script>
</div>
